prefer-no-csd

workspace "1"
workspace "2"
workspace "3"
workspace "4"

spawn-at-startup "xwayland-satellite"

environment {
    DISPLAY ":0"
}

input {
    touchpad {
        // off
        tap
        natural-scroll
    }
}

/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 1
    transform "normal"
    position x=1280 y=0
}

output "HDMI-A-1" {
  mode "1920x1080"
  scale 1
}

layout {
    gaps 7
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        // off
        width 2
        // active-color "#b395eb"
        active-color "#ffffff"
        inactive-color "#50505000"
        urgent-color "#9b0000"
    }

    border {
        // off
        width 2
        active-color "#262626"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

spawn-at-startup "mako"
spawn-sh-at-startup "syncthing --no-browser"
spawn-sh-at-startup "swaybg -i ~/.dotfiles/wallpapers/wallpaper.png"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

window-rule {
  match title="Ghostty"
  open-on-workspace "1"
}

window-rule {
  match title="Obsidian"
  open-on-workspace "1"
}

window-rule {
  match title="Alacritty"
  open-on-workspace "1"
}

window-rule {
  match title="Firefox"
  open-on-workspace "2"
}

window-rule {
  match title="Vesktop"
  open-on-workspace "3"
}

window-rule {
  match title="LibreWolf"
  open-on-workspace "2"
}

window-rule {
  match title="Zen"
  open-on-workspace "2"
}

window-rule {
  match title="Zathura"
  open-on-workspace "4"
}

window-rule {
  match title="Dolphin"
  open-on-workspace "4"
}

window-rule {
  match title="Bluetooth Devices"
  match title="Volume Control"
  match title="File Upload"
  match title="Qalculate!"
  match title="KeePassXC"
  // match title="Btop" // FIX
  open-floating true

  max-height 700
  min-height 700
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

recent-windows {
  binds {
    Mod+A { next-window; }
    // Mod+semi-Colon { next-window; }
    Mod+Shift+A { previous-window; }
    // Mod+Shift+Z { previous-window; }
  }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+N hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+B hotkey-overlay-title="Open a Terminal: ghostty" { spawn "librewolf"; }
    Mod+D hotkey-overlay-title="Applications Launcher" { spawn-sh "rofi -show combi -modes combi -combi-modes \"window,drun\""; }
    Mod+P hotkey-overlay-title="Applications Launcher" { spawn "wmenu-run"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Super+Alt+S hotkey-overlay-title="Suspend" { spawn-sh "systemctl suspend"; }
    Shift+F12 hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ +5%"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ -5%"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "pactl set-sink-mute @DEFAULT_SINK@ toggle"; }
    F8 allow-when-locked=true {spawn-sh "pactl set-source-mute @DEFAULT_SOURCE@ toggle";}

    Mod+Equal allow-when-locked=true { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ +5%"; }
    Mod+Minus allow-when-locked=true { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ -5%"; }
    Mod+M        allow-when-locked=true { spawn-sh "pactl set-sink-mute @DEFAULT_SINK@ toggle"; }
    Mod+Shift+M     allow-when-locked=true { spawn-sh "pactl set-source-mute @DEFAULT_SOURCE@ toggle"; }

    Mod+S {spawn "~/.scripts/stats-notifications.sh";}

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Shift+Equal allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    Mod+Shift+Minus allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Z repeat=false { toggle-overview; }

    Mod+Shift+X repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    Mod+Shift+comma     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+period     { move-column-to-monitor-right; }

    Mod+Ctrl+N { move-column-to-workspace-down; }
    Mod+Ctrl+P   { move-column-to-workspace-up; }

    Mod+Ctrl+U         { move-workspace-down; }
    Mod+Ctrl+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+Q { focus-workspace 1; }
    Mod+W { focus-workspace 2; }
    Mod+E { focus-workspace 3; }
    Mod+R { focus-workspace 4; }
    Mod+T { focus-workspace 5; }
    Mod+Y { focus-workspace 6; }
    Mod+U { focus-workspace 7; }
    Mod+I { focus-workspace 8; }
    Mod+O { focus-workspace 9; }
    // Mod+P { focus-workspace 10; }

    Mod+Shift+Q { move-window-to-workspace 1; }
    Mod+Shift+W { move-window-to-workspace 2; }
    Mod+Shift+E { move-window-to-workspace 3; }
    Mod+Shift+R { move-window-to-workspace 4; }
    Mod+Shift+T { move-window-to-workspace 5; }
    Mod+Shift+Y { move-window-to-workspace 6; }
    Mod+Shift+U { move-window-to-workspace 7; }
    Mod+Shift+I { move-window-to-workspace 8; }
    Mod+Shift+O { move-window-to-workspace 9; }
    // Mod+Shift+P { move-window-to-workspace 10; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+Ctrl+R { switch-preset-column-width; }
    // Mod+R { switch-preset-column-width-back; 
    // Mod+Shift+R { switch-preset-window-height; }
    // Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Ctrl+Minus { set-column-width "-10%"; }
    Mod+Ctrl+Equal { set-column-width "+10%"; }

    Mod+Ctrl+Shift+Minus { set-window-height "-10%"; }
    Mod+Ctrl+Shift+Equal { set-window-height "+10%"; }

    Mod+Shift+Space       { toggle-window-floating; }
    Mod+Space { switch-focus-between-floating-and-tiling; }

    Mod+G { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-window; }
    Shift+Print { screenshot-screen; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+Ctrl+Q { quit; }
}
